.gitbook-link {
	display: none !important;
}

.my-site-name {
	padding-right:15px;
	line-height: 50px;
	font-size:14px;
}

.markdown-section pre {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.book-summary ul.summary li.header {
	color: #333;
	font-weight: 500;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
	padding: 10px 45px;
}

html {
	font-family: "adobe-caslon-pro", serif;
}


h1,span,b,i{
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
word-break: keep-all;
line-height: 50%;


}




/*  1em = 12pt = 16px = 100% */


h1,
h2,
h3,
h4 {
/*text-align: center;*/
line-height: 1 !important;
word-break: break-word !important;
overflow-wrap: break-word !important;
}

h1 {
text-transform: uppercase !important;
font-weight: 500 !important;
color: #4EB7D9 !important;
font-size: 4em !important;
}



h2 {


color: #494949 !important;
font-size: 1.8em !important;
font-weight:bold !important;
text-align: justify !important;
margin: 0 !important;
letter-spacing:1px !important;
line-height:110% !important;
padding-bottom: 5px !important;
}


h3 {
text-transform: uppercase !important;
font-weight: 300 !important;
font-size: 4em !important;
color: #4EB7D9 !important;

}


h4 {
color: #494949 !important;
font-size: 1.5em !important;
line-height:120% !important;
letter-spacing:1px !important;
font-weight:100 !important;
}



h6 {
	
color: #494949 !important;
font-size: 1.5em !important;
line-height:120% !important;
letter-spacing:1px !important;
}



h5 {
	font-size: 2.2em !important;
line-height:120% !important;
font-weight: 100 !important;
color: #494949 !important;
/*margin-left:16%;
margin-right:16%;*/
margin-top:1.5em !important;

}

h1, h3 {
font-family: "alternate-gothic-no-2-d",sans-serif !important;
}